<div class="search-form">
    <form>
        <div class="form-group">
            <label for="searh-input">Từ khóa</label>
            <input type="text" name="fullname">
            <input type="text" name="age">
            <input type="text" name="q" class="form-control" id="search-input" aria-placeholder="nhập từ khóa">
        </div>
        
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>